services:
  backend:
    build: ./backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      BACKEND_BASE_URL: "http://localhost:8001"
      NEXT_PUBLIC_BASE_URL: "http://localhost:3000"

